body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    background-color: rgb(115, 26, 183);
}

section {
    min-height: 100vh;
    display: flex;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(115, 26, 183);
}


/* Colunas  */

.right {
    width: 80%;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 60px;
}

.right .container {
    padding-top: 60px;
}

h3 {
    color: rgb(99, 220, 62);
    font-weight: 300;
}
 
/* Coluna esquerda - informações  */

.left {
    background-color: rgb(99, 220, 62);
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo img {
    width: 100%;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-media img {
    vertical-align: middle;
    width: 30px;
    margin-right: 10px;
}

.social-media a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 1.2rem;
}

button {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    text-transform: uppercase;
}

button a {
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-size: 1.2rem;
}
/* Coluna direita - informações  */


#banner-data {
    background-color: white;
    padding: 20px;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

#banner-data h2 {
    margin: 0;
}

#intro h1 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.4rem;
    margin: 0;
}

ul {
    padding-inline-start: 17px;
}

.themes li {
    color: rgb(99, 220, 62);
    font-size: 1.3rem;
}

 

.convidados {
    margin-top: 40px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    color: white;
}

.convidados img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgb(99, 220, 62);
}

.convidados figure {
    display: flex;
    margin: 0;
}

.convidados figcaption {
    text-align: center;

}

.convidados .two-col {
    display: flex;
}

.perguntas {
    margin-top: 50px;
    color: white;
    font-size: 1.5rem;
}

.perguntas a {
    text-decoration: underline;
    color: white;
    font-weight: 600;
}

/* Exit popup  */

#popup {
    display: none;
    background: rgba(0, 0, 0, .75);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    justify-content: center;
    /* align-items:center; */
}

.popup_box {
    background: rgb(255, 255, 255);
    max-width: 500px;
    height: fit-content;    
    min-height: 300px;
    margin: 50px;
    padding: 30px;
    border-radius: 20px;
    position: relative;
}

#popup h1 {
    color: rgb(115, 26, 183);
    font-size: 2rem;
}

#popup button {
    background-color: rgb(99, 220, 62);
}

#close-popup img {
    width: 50px;
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
}


/* dispositivos menores */


@media (max-width:768px) {

    #intro {
        flex-direction: column-reverse;
    }

    #intro .right,.left {
        width: 100%;
    }

    .convidados {
        display: block;
    }

    .convidados figure {
        display: flex;
        flex-direction: column;
    }

    .convidados img {
        align-self: center;
    }
    
}