body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    background-color: rgb(115, 26, 183);
}

section {
    min-height: 100vh;
    display: flex;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(115, 26, 183);
}


/* Colunas  */

.right {
    width: 80%;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 60px;
    text-align: center;
}

.right .container {
    padding-top: 60px;
}

h3 {
    color: rgb(99, 220, 62);
    font-weight: 400;
    text-align: justify;
    text-align-last: center;
    font-size: 1.2rem;
}
 
/* Coluna esquerda - informações  */

.left {
    background-color: rgb(99, 220, 62);
    width: 40%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

.logo img {
    width: 100%;
    top: 0;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-media img {
    vertical-align: middle;
    width: 35px;
    margin-right: 10px;
}

.social-media a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 1.2rem;
}

button {
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    border: 0px;    
}

button a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

#btnLiveEsquerdo {
    background-color: white;
    box-shadow: 4px 6px 0 0 #751682;
    text-transform: uppercase;
    width: 90%;
}

#btnLiveDireito {
    background-color: rgb(99, 220, 62);
    width: 40%;
}

#botoesDireito {
    display: flex;
    justify-content: space-evenly;
}

#btnLiveEsquerdo a {
    color: rgb(115, 26, 183);
}

#btnLiveDireito a {
    color: white
}

#btnPergunta {
    border: 2px solid rgb(99, 220, 62);
    background-color: rgb(115, 26, 183);
    width: 40%;
}

#btnPergunta a {
    color: rgb(99, 220, 62);
}

/* Coluna direita - informações  */
#banner-data {
    background-color: rgb(115, 26, 183);
    padding: 20px;
    color: black;
    text-align: center;
}

#intro h1 {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 0;
}

#banner-data h2 {
    margin: 0;
    color: white;
    font-weight: 400;
}

ul {
    padding-inline-start: 17px;
}

.themes li {
    color: rgb(99, 220, 62);
    font-size: 1.3rem;
}

 

.convidados {
    margin-top: 60px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.convidados img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgb(99, 220, 62);
    margin-right: 10px;
}

.convidados figure {
    display: flex;
    margin: 0;
}

.convidados figcaption {
    text-align: center;
}

.convidados h2 {
    text-align: left;
}

.convidados p {
    text-align: left;
    margin-left: 5px;
    max-width: 180px;
}

.convidados .two-col {
    display: flex;
}

.perguntas {
    text-align: center;
    margin-top: 60px;
    color: white;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
}

.perguntas a {
    text-decoration: underline;
    color: white;
    font-weight: 600;
}


#agenda {
   /* border: 2px solid rgb(115, 26, 183); */
    border-radius: 30px;
    text-align: center;
    margin: 10px;
    margin-top: 50px;
    padding-bottom: 10px;
    color: white;
    font-size: 1.0rem;
    font-family: 'Open Sans', sans-serif;
    
}

#agenda  p {
    color: rgb(115, 26, 183);
    font-weight: 400;
    font-size: 1.0rem;
    margin: 10px;
}

#agenda  a {
    text-decoration: underline;
    color: rgb(115, 26, 183);
    font-weight: 400;
    margin: 10px;
}

/* Exit popup  */
#popup {
    display: none;
    background: rgba(0, 0, 0, .75);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    justify-content: center;
    /* align-items:center; */
}

.popup_box {
    background: rgb(255, 255, 255);
    max-width: 800px;
    height: fit-content;    
    min-height: 300px;
    margin: 50px;
    /* padding: 30px; */
    border-radius: 20px;
    position: relative;
}

#popup h1 {
    color: rgb(115, 26, 183);
    font-size: 2rem;
}

#popup button {
    background-color: rgb(99, 220, 62);
    text-transform: uppercase;
    box-shadow: 4px 6px 0 0 #751682;
    text-transform: uppercase;
    width: 80%;
    font-weight: 600;
}

#popup button a {
    color: #751682;
}

#close-popup img {
    width: 50px;
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
}

#exit-btn-group {
    text-align: center;
    padding: 0 0 40px 0;
}

#share-area {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#popup-arte {
    background: url('../img/arte_6_4.webp') no-repeat;
    background-size: contain;
    display: block;
    width: 600px;
    height: 560px;
}

/* dispositivos menores */
@media (max-width:988px) {
    .convidados {
        display: block;
    }

    .convidado {
        margin-bottom: 20px;
    }

    .botoesDireito {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    #btnPergunta, #btnLiveDireito {
        width: 45%;
    }

    #countdown {
        display: block;
    }

}

@media (max-width:768px) {

    #intro {
        flex-direction: column-reverse;
    }

    #intro .right,.left {
        width: 100%;
    }

    #intro h1 {
        font-size: 1.6rem;
    }

    #banner-data {
        padding: 10px 10px 20px 10px;
    }

    .convidados {
        display: block;
    }

    .convidados figure {
        display: flex;
        flex-direction: row;
    }

    .convidados img {
        align-self: center;
        width: 150px;
        height: 150px;
    }

    .container {
        padding-bottom: 0px;
        width: 90%;
    }

    #btnLiveEsquerdo {
        width: 100%;
    }

    #countdown {
        width: 100%;
    }

    #botoesDireito {
        flex-direction: column-reverse;
    }

    #btnPergunta, #btnLiveDireito {
        width: 100%;
    }
}